@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 30s linear infinite;
}

@media (min-width: 640px) {
  .animate-scroll-slow {
    animation: scroll-slow 40s linear infinite;
  }
}

/* Hide Scrollbar Utilities */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
